html, body {
	min-height: 100%;
}

body {
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* ===== The Phone and Screen ===== */

.phone {
	/*position: relative;*/
	position: absolute;
	top: 26px;
	left: 50%;
	background-image: url(../images/port_back.png);
	background-repeat: no-repeat;
	
	width: 563px;
	height: 952px;
	
	
	transform-origin: 50% 0;
}


.test-reference-image {
	display: none;
	position: absolute;
}

.testing-mode .test-reference-image {
	display: block;
}


.output-area-wrapper {
	position: relative;
}

.phone {
	transform: scale(0.66);
	margin-top: -60px;
	/*margin-right: -60px;*/
	margin-left: 0;
}

.test-reference-image {
	right:270px;
	top: 0;
}


@media (min-height: 600px) and (min-width: 851px) {
	.phone {
		transform: scale(0.75);
		margin-top: -62px;
		margin-left: -282px;
	}

	.test-reference-image {
		right:318px;
		top: 0;
	}

}

/*@media (min-height: 800px) and (min-width: 1001px) {
	.phone {
		transform: scale(1);
		margin-top: -83px;
		margin-right: -83px;
	}

	.test-reference-image {
		right:420px;
		top: 0;
	}
}*/
/*@media (max-width: 700px) {
	.phone {
		transform: scale(0.5);
		margin-top: -45px;
		margin-right: -44px;
	}
}*/

.phone canvas {
	max-width:100%;
	max-height:100%;
	margin:0 auto;
	display: block;
}

.screen {
	position: absolute;
	
	top: 148px;
	right: 102px;
	
	width: 360px;
	height: 635px;
	
	/*opacity:0.5;*/
	/*transform: translateY(-600px) translateX(280px) scale(0.333333);*/
	
	/*z-index: -1;*/
}

.screen-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #eee;
	overflow: hidden;
}



/* Utilities */
.absolute {
	position: absolute;
}

.hidden-pending-setTimeout {
	visibility: hidden;
}

/* ===== Styling for Android Layout XML ===== */

.element-outlines-enabled .screen * {
	outline: solid 2px rgba(255,0,0,0.3);
}

.element-outlines-enabled .screen .hovering {
	outline-color: rgba(155,0,0,1);
}

/* Layout */

.layout_width-match_parent {
	width: 100%;
}

.layout_height-match_parent {
	height: 100%;
}

.layout_width-wrap_content,
.layout_height-wrap_content {
	display: table;
}


.LinearLayout {
	display: -webkit-flex!important;
	display: flex!important;
    flex-direction: row;
    overflow: hidden;
}

.LinearLayout.orientation-vertical {
    flex-direction: column;
}

.FrameLayout {
	/*position: relative;*/
}

.FrameLayout > * {
	position: absolute;
}


/* may be wrong... */
.RelativeLayout {
	/*position: relative;*/
}

.RelativeLayout > * {
	position: absolute;
}

.TextView {
	overflow-wrap: break-word;
	overflow: hidden;
}


/*.output-area :not(.layout_height-wrap_content) {
	flex-grow: 1;
}
*/

/* ImageView Attributes */
.ImageView,
.scaleType-centerInside {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.scaleType-centerCrop {
	background-size: cover;
	background-position: center;
}

.gravity-center,
.gravity-center_horizontal {
	text-align: center;
}

.gravity-center .helper-child,
.gravity-center_vertical .helper-child {
	margin-top: auto;
	margin-bottom: auto;
}

.gravity-left {
	text-align: left;
}

.gravity-right {
	text-align: right;
}

.gravity-top .helper-child {
	margin-top: 0;
	margin-bottom: auto;
}

.gravity-bottom .helper-child {
	margin-top: auto;
	margin-bottom: 0;
}


.layout_width-match_parent.gravity-center,
.layout_width-match_parent.gravity-center_vertical,
.layout_width-match_parent.gravity-bottom {
	display: -webkit-flex!important;
	display: flex!important;
}


