html, body {
	min-height: 100%;
}

body {
	height: 100%;
}

.output-area {
	box-sizing: border-box;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* ===== The Phone and Screen ===== */

.phone {
	/*position: relative;*/
	position: absolute;
	top: 0;
	right: 0;
	/*background-image: url(../images/generic-android-phone-png.png);*/
	background-repeat: no-repeat;
	/*background-size: 50%;*/
	width: 100%;
	height: 100%;
	/*padding-bottom: 206%; /* preserves the aspect ratio */
}

.phone canvas {
	max-width:100%;
	max-height:100%;
	margin:0 auto;
	display: block;
}

.screen {
	position: absolute;
	left:100%;
	width: 1080px;
	height: 1920px;
	
	top: 0px;
	right: 0px;
	/*opacity:0.5;*/
	/*transform: translateY(-600px) translateX(280px) scale(0.333333);*/
	
	/*z-index: -1;*/
}

.screen * {
	outline: 1px solid rgba(0,0,0,0.3);
	min-height: 5px;
}

.screen-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #cde;
}



/* ===== Styling for Android Layout XML ===== */

/* Layout */

.layout_width-match_parent {
	width: 100%;
}

.layout_height-match_parent {
	height: 100%;
}

.layout_width-wrap_content {
	display: inline-block;
}


.LinearLayout {
	display: flex;
    flex-direction: column;
}

.FrameLayout {
	/*position: relative;*/
}

.FrameLayout > * {
	position: absolute;
}


/* may be wrong... */
.RelativeLayout {
	/*position: relative;*/
}

.RelativeLayout > * {
	position: absolute;
}


:not(.layout_height-wrap_content) {
	flex-grow: 1;
}


/* ImageView Attributes */
.scaleType-centerCrop {
	background-size: cover;
	background-position: center;
}

.scaleType-centerInside {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.gravity-center {
	text-align: center;
}