html {
	height:100%;
	box-sizing: border-box;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
	min-height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.input-area {
	background-color: #ccc;
	height:90%;
	padding: 20px;
	margin-right: 380px;
}
.output-area {
	width:29%;
	position: absolute;
	top: 15px;
	bottom: 15px;
	right: 15px;
}

.CodeMirror {
	height:auto;
}

.CodeMirror-scroll {
	height:500px;
	overflow: initial;
}

.output {
	width: 100%;
}

.code-runnable .code-input-area {
	border: solid 2px #999;
}

.output-area.disabled {
	opacity: 0.6;
	outline: 8px solid #F99;
}


.error-msg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px;
	color: #a33;
	background: rgba(255,255,255,0.8);
	z-index:100;
	font-size:13px;
	line-height: 1.4;
}


.code-saved-msg {
	color: #aaa;
	font-size: 14px;
	font-style: italic;
	margin: 0;
	position: absolute;
}

.code-saved-msg .not-word {
	display: none;
}

.code-not-saved {
	color: #caa;
}

.code-not-saved .not-word {
	display: inline;
}

.link-reset-code {
	color: #940;
}
.link-reset-code:hover {
	color: #d60;
}